In [ ]:
# 6.5.2 Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2022-01-27 03:39:08,-53.1500,-70.9167,50.11,76,40,25.32
1,1,Kapaa,US,2022-01-27 03:39:08,22.0752,-159.3190,76.98,74,20,1.01
2,2,Saskylakh,RU,2022-01-27 03:35:24,71.9167,114.0833,-14.46,93,46,5.44
3,3,Albany,US,2022-01-27 03:37:26,42.6001,-73.9662,8.47,65,4,2.28
4,4,Hansot,IN,2022-01-27 03:39:09,21.5833,72.8000,64.33,35,0,12.93

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Create a Maximum Temperature Heatmap

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Adjust Heatmap Zoom, Intensity, and Point Radius

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Create a Percent Humidity Heatmap

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
print(city_data_df)

     City_ID          City Country                 Date      Lat       Lng  \
0          0  Punta Arenas      CL  2022-01-27 03:39:08 -53.1500  -70.9167
1          1         Kapaa      US  2022-01-27 03:39:08  22.0752 -159.3190
2          2     Saskylakh      RU  2022-01-27 03:35:24  71.9167  114.0833
3          3        Albany      US  2022-01-27 03:37:26  42.6001  -73.9662
4          4        Hansot      IN  2022-01-27 03:39:09  21.5833   72.8000
..       ...           ...     ...                  ...      ...       ...
520      520          Asau      RO  2022-01-27 03:37:52  46.4333   26.4000
521      521      Le Havre      FR  2022-01-27 03:42:42  49.4938    0.1077
522      522       Durazno      UY  2022-01-27 03:42:43 -33.4131  -56.5006
523      523          Bima      ID  2022-01-27 03:42:43  -8.4667  118.7167
524      524      Itaituba      BR  2022-01-27 03:42:43  -4.2761  -55.9836

     Max Temp  Humidity  Cloudiness  Wind Speed
0       50.11        76          40       25.32
1       76.98        74          20        1.01
2      -14.46        93          46        5.44
3        8.47        65           4        2.28
4       64.33        35           0       12.93
..        ...       ...         ...         ...
520     27.52        85          92        6.80
521     44.35        84         100       14.97
522     64.83        83         100       19.73
523     87.19        69         100        2.75
524     72.86        99         100        2.39

[525 rows x 10 columns]

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 6.5.3 Get Vacation Criteria

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kapaa,US,2022-01-27 03:39:08,22.0752,-159.3190,76.98,74,20,1.01
5,5,Kahului,US,2022-01-27 03:39:09,20.8947,-156.4700,80.62,66,40,12.66
7,7,Cidreira,BR,2022-01-27 03:39:10,-30.1811,-50.2056,74.44,95,100,6.20
8,8,San Vicente,AR,2022-01-27 03:39:11,-26.6167,-54.1333,69.91,97,87,2.51
10,10,Carnarvon,AU,2022-01-27 03:39:11,-24.8667,113.6333,82.47,65,75,13.80
12,12,Avarua,CK,2022-01-27 03:39:12,-21.2078,-159.7750,82.45,83,40,12.66
23,23,Faanui,PF,2022-01-27 03:39:17,-16.4833,-151.7500,80.94,77,26,18.61
24,24,Chimbote,PE,2022-01-27 03:38:52,-9.0853,-78.5783,70.93,80,60,5.97
30,30,Bambous Virieux,MU,2022-01-27 03:39:19,-20.3428,57.7575,80.22,88,40,4.61
32,32,Clemencia,CO,2022-01-27 03:39:20,10.5665,-75.3250,78.39,83,11,15.97

In [18]:
# How would you determine if there are any null values for the rows in the preferred_cities_df DataFrame? 
preferred_cities_df.notnull().sum()

City_ID       190
City          190
Country       187
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [19]:
preferred_cities_df.count()

City_ID       190
City          190
Country       187
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [20]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       3
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [21]:
# If you have some rows with null values, you'll need to drop them using 
# the dropna() method at the end of your filtering statement when you are creating the new DataFrame.

In [22]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kapaa,US,2022-01-27 03:39:08,22.0752,-159.3190,76.98,74,20,1.01
5,5,Kahului,US,2022-01-27 03:39:09,20.8947,-156.4700,80.62,66,40,12.66
7,7,Cidreira,BR,2022-01-27 03:39:10,-30.1811,-50.2056,74.44,95,100,6.20
8,8,San Vicente,AR,2022-01-27 03:39:11,-26.6167,-54.1333,69.91,97,87,2.51
10,10,Carnarvon,AU,2022-01-27 03:39:11,-24.8667,113.6333,82.47,65,75,13.80
...,...,...,...,...,...,...,...,...,...,...
510,510,Trinidad,BO,2022-01-27 03:42:38,-14.8333,-64.9000,75.96,88,100,4.81
512,512,Catuday,PH,2022-01-27 03:42:39,16.2923,119.8062,83.23,65,66,9.57
513,513,Saint-Joseph,RE,2022-01-27 03:42:39,-21.3667,55.6167,75.56,61,19,6.98
519,519,Remedios,CU,2022-01-27 03:42:42,22.4947,-79.5458,68.92,81,0,3.13
524,524,Itaituba,BR,2022-01-27 03:42:43,-4.2761,-55.9836,72.86,99,100,2.39

In [23]:
# 6.5.4 Map Vacation Criteria

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1             Kapaa      US     76.98  22.0752 -159.3190
5           Kahului      US     80.62  20.8947 -156.4700
7          Cidreira      BR     74.44 -30.1811  -50.2056
8       San Vicente      AR     69.91 -26.6167  -54.1333
10        Carnarvon      AU     82.47 -24.8667  113.6333
12           Avarua      CK     82.45 -21.2078 -159.7750
23           Faanui      PF     80.94 -16.4833 -151.7500
24         Chimbote      PE     70.93  -9.0853  -78.5783
30  Bambous Virieux      MU     80.22 -20.3428   57.7575
32        Clemencia      CO     78.39  10.5665  -75.3250

In [25]:
# Iterate Through hotel_df DataFrame

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [27]:
hotel_df.head()

           City Country  Max Temp      Lat       Lng Hotel Name
1         Kapaa      US     76.98  22.0752 -159.3190     Kapaʻa
5       Kahului      US     80.62  20.8947 -156.4700    Kahului
7      Cidreira      BR     74.44 -30.1811  -50.2056   CIDREIRA
8   San Vicente      AR     69.91 -26.6167  -54.1333  San Pedro
10    Carnarvon      AU     82.47 -24.8667  113.6333  Carnarvon

In [28]:
# Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# The text inside the multiline string is HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))